<input type="text" [(ngModel)]="title" />
{{ title }}

<div *ngIf="title == 'raymundo'">Esto es un div</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'jose'">Este es jose</p>
  <p *ngSwitchCase="'pedro'">Este es pedro</p>
  <p *ngSwitchCase="'juan'">Este es juan</p>
  <p *ngSwitchDefault>No hay coincidencia</p>
</div>

<button (click)="AddFruit()">Add fruit</button>

<ul>
  <li *ngIf="array.length === 0">La lista esta vacia</li>
  <li *ngFor="let fruit of array; index as i">
    {{ fruit }} {{ i }}
    <button (click)="DeleteFruit(i)">Delete fruit</button>
  </li>
</ul>

<div class="product-grid">
  <app-product
    *ngFor="let product of products"
    (productClick)="clickProduct($event)"
    [product]="product"
  ></app-product>
</div>
